data:
    image: busybox
    volumes:
        - .:/srv
        - ./docker/.home-developer:/home/developer

webserver:
    image: nginx:stable-alpine
    volumes_from:
        - data
    volumes:
        - ./docker/conf/nginx_vhost.conf:/etc/nginx/conf.d/default.conf
    links:
        - appserver
    env_file:
        - ./docker/docker-compose.env
    environment:
        - DNSDOCK_IMAGE=web
    restart: always

appserver:
    image: meuhmeuhconcept/php-fpm
    volumes_from:
        - data
    links:
        - database
    env_file:
        - ./docker/docker-compose.env
    environment:
        - DNSDOCK_IMAGE=app
    restart: always

console:
    image: meuhmeuhconcept/php-console
    volumes_from:
        - data
    volumes:
        - $SSH_AUTH_SOCK:/tmp/agent.sock
    links:
        - database
    env_file:
        - ./docker/docker-compose.env
    environment:
        - DNSDOCK_IMAGE=console
        - SSH_AUTH_SOCK=/tmp/agent.sock
    working_dir: /srv
    restart: always

database:
    image: mariadb:10.0
    volumes:
        - /var/lib/mysql
    env_file:
        - ./docker/docker-compose.env
    environment:
        - DNSDOCK_IMAGE=db
    restart: always
