{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-1 text-primary">Hello, world!</h1>
            <p>
                Code version : <span class="font-weight-blod">{{ code_version }}</span>
            </p>
        </div>
    </div>
{% endblock %}
